In [1]:
x = [23,34,45,56,67,34,45,56,100]

In [2]:
x

[23, 34, 45, 56, 67, 34, 45, 56, 100]

In [3]:
x.sort()

In [4]:
x

[23, 34, 34, 45, 45, 56, 56, 67, 100]

In [5]:
y = set(x)

In [6]:
y

{23, 34, 45, 56, 67, 100}

In [8]:
auto_survey = set(['audi','mercedez','audi','ferrari','gm','gm'])

In [9]:
auto_survey

{'audi', 'ferrari', 'gm', 'mercedez'}

In [10]:
type(auto_survey)

set

In [11]:
auto_survey.add('volvo')

In [12]:
auto_survey

{'audi', 'ferrari', 'gm', 'mercedez', 'volvo'}

In [13]:
l = [1,2,3,4,4,5,6,6,7,8,13,14,14,15,16,88]

In [14]:
l

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 13, 14, 14, 15, 16, 88]

In [15]:
x = set()

In [16]:
x

set()

In [19]:
for i in l:
    print(i*100,end='')

100200300400400500600600700800130014001400150016008800

In [20]:
4 in l

True

In [21]:
400 in l

False

In [22]:
400 not in l

True

In [23]:
a = (100,200,300)

In [24]:
b = (400,500,1000)

In [25]:
c = a + b

In [26]:
c

(100, 200, 300, 400, 500, 1000)

In [27]:
type(c)

tuple

In [28]:
m = 1000

In [29]:
n = 2000

In [30]:
t = [m,n]

In [31]:
type(t)

list

In [32]:
t

[1000, 2000]

In [34]:
l = [1,2,3,4,4,5,6,6,7,8,13,14,14,15,16,88]
x = set()
y = []
for n in l:
    if n not in x:
        y.append(n)
        x.add(n)

In [35]:
l

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 13, 14, 14, 15, 16, 88]

In [36]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 88}

In [37]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 88]

In [38]:
l

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 13, 14, 14, 15, 16, 88]

In [39]:
newset = set(l)

In [40]:
newset

{1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 88}

In [41]:
type(newset)

set

In [42]:
newlst = list(newset)

In [43]:
newlst

[1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 88]

In [44]:
greeting = "hello"

In [45]:
print(greeting * 10)

hellohellohellohellohellohellohellohellohellohello